@page "/administration"
@rendermode InteractiveServer

<div class="container-fluid mt-5">
    <div class="row mb-4">
        <div class="col-md-12">
            <h1>⚙️ Administration</h1>
            
        </div>
    </div>

    <div class="row">
        <div class="col-md-4 mb-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Users</h5>
                    
                    <a href="/administration/users" class="btn btn-outline-primary btn-sm">Manage Users</a>
                </div>
            </div>
        </div>

        <div class="col-md-4 mb-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Competitions</h5>
                    
                    <a href="/administration/competitions" class="btn btn-outline-primary btn-sm">Manage Competitions</a>
                </div>
            </div>
        </div>

        <div class="col-md-4 mb-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Settings</h5>
                    
                    <a href="/administration/settings" class="btn btn-outline-primary btn-sm">Settings</a>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header bg-dark text-white">
                    <h5 class="mb-0">System Logs</h5>
                </div>
                <div class="card-body">
                    
                </div>
            </div>
        </div>
    </div>
</div>

@code {
    protected override Task OnInitializedAsync()
    {
        return Task.CompletedTask;
    }
}
